<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remote Jobs</title>
    <style>
      section {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      div {
        width: 60vw;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>Remote Jobs</h1>
      <h3>{{resultsNumber}} react jobs found.</h3>
      <a href="/export?term={{search}}">export to CSV</a>
      <a href="/">← Go back</a>
      {%for job in jobs%} {% for i in range(job)%}
      <div>
        <h3>{{job[i].title}}</h3>
        <h3>{{job[i].company}}</h3>
        <a href="{{job[i].link}}" target="_blank">Apply</a>
      </div>
      {%endfor%} {% endfor %}
    </section>
  </body>
</html>
