<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remote Jobs</title>
    <style>
      section {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>Remote Jobs</h1>
      <h3>100 react jobs found.</h3>
      <a href="/export?">export to CSV</a>
      <a href="/">← Go back</a>
      <form action="/search" method="get">
        <h2>Search by term:</h2>
        <input placeholder="검색" required name="term" />
        <button>Find my job</button>
      </form>
    </section>
  </body>
</html>
